.country {
    color: #b924be;
    border: 1px solid salmon;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

#countries-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}